@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/arialbd-webfont.woff2') format('woff2'),
         url('../fonts/arialbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*********** selectBox ************/

.price-calculator select {
    font-size: 14px;
    width: 100%;
    font-family: "Arial"
}


.sbHolder{
	background-color: #ffffff;
    border: 1px solid #c3c3c3;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    line-height: 16px;
    padding: 0px;
    position: relative;
    width: 100%;
    border-radius: 2px;
}
.sbSelector{
	display: block;
    left: 0;
    height: 28px;
    line-height: 16px;
    padding: 6px 13px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    text-transform: capitalize;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #555;
	outline: none;
	text-decoration: none;
}
.sbToggle{	
    display: block;
    height: 0;
    outline: none;
    position: absolute;
    right: 8px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #404040;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbOptions {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    left: 0px;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 28px !important;
    width: 100%;
    z-index: 1;
    border-radius: 2px;
    max-height: 130px !important;
}
.sbOptions li{
	padding: 0;
}
.sbOptions li:hover{
	background: none;
}
.sbOptions a{	
	display: block;
	outline: none;
	text-align: left;
	padding: 6px 12px;
	font-family: Open Sans;
	text-transform: capitalize;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #555;
	text-decoration: none;
}
.sbOptions li:hover a,
.sbOptions li:focus a,
.sbOptions a.sbFocus{
	background: #38a7ef;
    color: #fff;
}


/********** End SelectBox ***********/

.text-center {
	text-align: center;	
}
.text-left {
	text-align: left;	
}
.bg-green {
	background: #e9f4dc;
}
.bg-yellow {
	background: #ffffe2;	
}
.btn-blue {
	background: #55a5d7;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-family: "Arial Bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    margin: 6px auto 10px;
    display: table;
	border-radius: 6px;
}
.btn-medium {    
    min-width: 136px;
    padding: 13px 15px;
	font-size:16px;
}
.btn-small {
    font-size: 12px;
    height: 23px;
    line-height: 20px;
    min-width: 100px;
    padding: 2px 5px 0;
}
.main-body {
    margin: 5px 8px;
}

.price_calculator_panel{
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    max-width: 218px;
}

.price-calculator {
	width: 100%;	
	border: 1px solid #b5b6b7;
  	border-radius: 6px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.35);
}
.calculator-title {
    background: #808080;
	padding: 10px;
    border-bottom: #34acd2 2px solid;
}
.calculator-title h2 {
    margin: 0;
	padding: 0;
	font-family: "Arial Bold", sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 22px;
	color: #ffffff;
}
.business-cards {
    display: block;
    float: left;
    padding-bottom: 13px;
    width: 100%;
}
.business-cards h1 {
	margin: 0;
	padding: 8px 0;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 22px;
	color: #404040;
}
.sections {
    border-top: #b5b6b7 1px solid;
	display: block;
    width: 100%;
	float:left;
}
.card-options {
    padding: 0 10px;
    text-align: left;
	display: block;
    width: 100%;
	float:left;
}
.card-options h6 {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 15px;
	color: #404040;	
}
.select-div {
    margin-bottom: 4px;
}
.card-options input {
	border: 1px solid #b5b6b7;
    height: 22px;
    margin: 0;
    padding: 0 3px;
    width: 100%;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 15px;
	color: #404040;	
}
.price-title {
	background: #a4a6a9;
	margin-bottom: 3px;
    margin-top: 3px;
    padding: 6px 10px 7px;
   	display: block;
    width: 100%;
	float:left;
}
.price-title h5 {
	margin: 0;
	padding: 0;
	font-family: "Arial Bold", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 15px;
	color: #ffffff;	
}
.price-total {
    display: block;
    width: 100%;
	float:left;
    margin: 3px 0 0;
    padding: 5px 10px 0;
}
.total > div {
    width: 50%;
    display: block;
    float: left;
}
.total > div:first-child {
    text-align: left;
}
.total > div:last-child {
    text-align: right;
}
.total h4, .total div {
	margin: 0;
	padding: 0;
    font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-style: normal;
	text-align: inherit;
	text-transform: capitalize;
	line-height: 18px;
	color: #404040;		
}
.btn-div {
    display: block;
    width: 100%;
	float:left;
	border-top: #b5b6b7 1px solid;
	padding-top: 7px;
	padding-bottom: 3px;
}
.estimate-shipping {
    display: block;
    float: left;
    width: 100%;
    background: #a4a6a9;
	margin: 0 0 7px;
    padding: 2px 10px;
}
.estimate-shipping h5 {
    margin: 0;
    padding: 0;
    font-family: "Arial Bold", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-align: inherit;
    text-transform: capitalize;
    line-height: 15px;
    color: #ffffff;
}
.card-options input#zip {
    width: 88px;
}
.card-options .btn-blue {
    clear: left;
    display: block;
    margin: 0 0 10px;
    max-width: 100px;
    text-align: center;
}

/************************************************/


.card-options.bg-green {
    padding-bottom: 2px;
}


.single-product table.bulk_product_panel th {
    padding-left: 10px;
    padding-right: 10px;
    width: 140px;
}
.single-product table.bulk_product_panel select {
    width: 200px;
}
.single-product table.bulk_product_panel td {
    padding-left: 10px;
    padding-right: 10px;
}
.single-product .bulk_product_panel + div .price {
    text-align: right;
}

table.bulk_product_panel{
    margin-bottom: 20px;
}