.bulk_price_list_panel{
    margin: 0;
    background: #f1f1f1;
}
.bulk_price_list_panel table.scroll tr > td,
.bulk_price_list_panel table.scroll tr > th,
.bulk_price_list_panel input[type="text"]{
    text-align: center;
}

.bulk_product_text_panel input[type="text"],
.bulk_product_handler_panel input[type="text"] {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 6px;
    width: 28%;
}
.bulk_product_text_panel input.button, 
.bulk_product_handler_panel input.button {
    margin-bottom: 14px;
}
.bulk_product_text_panel .product_unit_add.button,
.bulk_product_handler_panel .product_unit_add.button {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.product_custom_text_add.button,
.product_unit_add.button {
    margin-bottom: 15px;
}
.bulk_price_list h2 {
    background: #23282d none repeat scroll 0 0;
    color: #eee;
    margin: 0 0 10px;
    padding: 10px;
    text-align: center;
}
.bulk_price_list .back_link {
    border-radius: 4px;
    color: #0073aa;
    padding: 6px;
    position: absolute;
    left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    top: 10px;
}
.bulk_price_list table {
    border: 1px solid #e5e5e5;
    min-width: 100%;
    border-spacing: 0;
    background: #fff;
    clear: both;
    margin: 60px 0 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -webkit-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -moz-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.bulk_price_list table a {
    text-decoration: none
}

.bulk_price_list table td, .bulk_price_list table th {
    padding: 8px 5px
}

.bulk_price_list table thead td, .bulk_price_list table thead th {
    border-bottom: 1px solid #e1e1e1;
}

.bulk_price_list table tfoot td, .bulk_price_list table tfoot th {
    border-top: 1px solid #e1e1e1;
    border-bottom: none
}
.bulk_price_list table tbody tr:nth-child(odd){
    background: #f9f9f9;
}
.bulk_price_list table .no-items td {
    border-bottom-width: 0
}

.bulk_price_list table td {
    vertical-align: top
}

.bulk_price_list table td, .bulk_price_list table td ol, .bulk_price_list table td p, .bulk_price_list table td ul {
    font-size: 13px;
    line-height: 1.5em
}

.bulk_price_list table tfoot td, .bulk_price_list table th, .bulk_price_list table thead td {
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
    word-wrap: break-word;
}

div.bulk_price_list form {
    padding: 0 10px;
}
div.bulk_price_list .submit {
    background: #0073aa;
    color: #f7f7f7;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 30px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bulk_price_list input[type="text"] {
    max-width: 50px;
}

.price_header {
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

table.scroll tr {
    display: flex;
}

table.scroll tr > td {
    flex-grow: 1;
    flex-basis: 0;
}

.price_header p {
    color: red;
    position: absolute;
    right: 120px;
    top: 0;
}


#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .order_item_details th, #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .order_item_details td {
    border: medium none !important;
    margin: 0 !important;
    padding: 0 !important;
}

